div#meteo {

}

body {
    margin: auto;
    width: 50%;
    padding: 10px;
}
a#url {
    color: red;

}

div.weather {
    display: inline-block;
    padding: 10px;
}

div.input {
   display: inline-block;
}

p.card-text{
    margin-bottom: auto;
}
